In [80]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [81]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [82]:
train

,плохой_клиент,линии,возраст,поведение_30-59_дней,Debt_Ratio,доход,число_кредитов,поведение_90_дней,недвижимость,поведение_60-89_дней,семья
0,0,0.031258,57,0,0.397520,5000.0,15,0,2,0,0.0
1,0,0.052332,64,0,57.000000,NaN,2,0,0,0,NaN
2,0,1.051793,40,1,444.000000,NaN,2,1,0,0,0.0
3,0,0.981993,40,1,0.780109,6625.0,8,0,1,0,4.0
4,0,0.163684,67,0,0.317596,4574.0,5,0,2,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
112495,0,0.017400,90,0,30.000000,NaN,10,0,0,0,NaN
112496,0,0.009396,55,0,0.230803,4583.0,18,0,1,0,0.0
112497,1,0.991441,44,2,0.482681,3550.0,7,0,1,1,2.0
112498,0,0.170114,39,1,0.158226,4600.0,16,0,0,0,2.0
112499,0,0.177668,33,1,1.060646,3000.0,8,0,1,0,0.0

In [83]:
print(train.shape, test.shape)

(112500, 11) (37500, 10)

In [84]:
y = train.pop('плохой_клиент')

In [85]:
train.fillna(-11, inplace=True)
test.fillna(-11, inplace=True)

In [86]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(train, y)

KNeighborsClassifier()

In [87]:
a = model.predict_proba(test)[:,1]

In [88]:
pd.DataFrame({'id': np.arange(37500), 'a':a}).to_csv('solution.csv', index=False)